html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* reset */
.title {
  margin-bottom: 1rem !important;
}

.container {
  margin-top: 1em;
}

/* atom */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

sub {
  line-height: 0;
}

.item {
  margin-bottom: 1.5em;
  padding-left: 0.8em;
  border-color: gray;
  border-left: 1px solid;
}

/* Nav */

.nav {
  background-color: #2e3138;
}

.nav-item a, a.nav-item {
  padding-top: 10px;
  color: white;
}

.nav-item a:hover, a.nav-item:hover {
  color:#2ab1cc;
}

.nav-item-selected, a.nav-item-selected {
  padding-top: 5px;
  border-color: #2ab1cc;
  border-top: 5px solid;
  border-radius: 1px;
  color:#2ab1cc;
}

/* Location */
#search-text {
  margin-top: 0.5em;
  margin-bottom: 10px !important;
}

.input {
  border: transparent;
  background-color: black;
  color: white;
  font-size: 1.3em;
}

.button.is-primary {
  background-color: black;
}

.input:focus {
  border: transparent;
}

.location-search {
  margin-left: 8px;
}

/* Time */

.time {
  margin-bottom: 0.5em;
  font-size: 2em;
}

/* Warning */

.warning-items {
  display: flex;
}

.warning-item {
  margin: 0 0.25em;
  padding: 0.1em 0.8em 0 0.8em;
  border: 0.8px solid;
  border-color: gray;
  border-radius: 3px;
}

.warning-text {
  display: flex;
  font-size: 0.8em;

  justify-content: center;
}

/* Observe */

.observe-items {
  display: flex;

  justify-content: space-around;
}

.observe-temp {
  display: flex;
  flex-direction: column;
  height: 4em;

  justify-content: center;
  align-items: center;
}

.main-temp {
  font-size: 3em;
}

.body-temp {
  padding: 0 1.1em;
  border: 1px solid;
  border-color: gray;
  border-radius: 3px;
  font-size: 0.8em;
}

.observe-info {
  display: flex;
  flex-direction: column;
  padding-left: 0.8em;
  border-color: gray;
  border-left: 1px solid;
}

.observe-wind {
  display: flex;
}

.wind-text {
  margin-top: .6em;
  margin-left: .8em;
  font-size: 0.8em;
}

span {
  margin-bottom: 0.3em !important;
}

/* Air quality */

.air-items {
  display: flex;

  justify-content: space-around;
  align-items: center;
}

.aqi-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 6em;
  height: auto;
  border: 1px solid;
  border-color: gray;
  border-radius: 2px;
  text-align: center;
}

.aqi-text {
  margin-top: 0.5em;
  font-size: 0.8em;
  line-height: 0.5em;
}

.aqi-value {
  font-size: 2.6em;
  line-height: 1.4em;
}

.aqi-quality {
  background-color: #a7c113;
  color: white;
}

.pollution-view {
  display: flex;
  flex-direction: column;
  margin: auto 0.2rem;
  padding-top: 5px;
  padding-left: 0;

  flex-wrap: wrap;
}

.pollutant-view {
  display: flex;
}

.pollutant-text {
  margin-right: 20px;
}

.pollutant {
  padding-left: 0.8em;
  border-color: gray;
  border-left: 1px solid;
}

.pollution-bar {
  background-color: #a7c113;
  color: white;
}

.pollutions-list {
  display: flex;

  justify-content: space-between;
}

.polltuion-item {
  display: flex;
  flex-direction: column;
}

.polltuion-text {
  font-size: 1.1em;
}

.polltuion-value {
  font-size: 0.8em;
}

/* News */

.news {
  display: flex;
  padding-right: 0;

  align-items: center;
}

.news-fig {
  display: flex;

  align-items: center;
  justify-content: center;
}

.news-text {
  padding-left: 0
}

.news-time {
  font-size: 1.2em;
}

.news-title {
  margin-top: 1em;
  font-weight: 900;
  font-size: 1.6em;
}

.news-content {
  margin-top: 1em;
  font-size: 0.8em;
}

.news-readmore {
  float: right;
  width: 80px;
  background-color: #ccc;
  color: black;
}
